<!doctype html>
<html ng-app="todoApp">
<head>
    <link rel="stylesheet" href="todo.css">
    <link rel = "stylesheet"
          href = "https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css">

    <!--<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-animate.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-aria.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-messages.min.js"></script>

    <script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>


    <script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>


    <script src="todo.js"></script>

</head>
<body>
    <h1>Light Control Testing</h1>
    <div ng-controller="TodoListController as todoList">
        <rzslider
                rz-slider-model="slider_callbacks.value"
                rz-slider-options="slider_callbacks.options"
        ></rzslider>

        <p>Intensity: {{slider_callbacks.value / 255 *100 | number:0}} %</p><!--ng-change="todoList.priceSlider.options.onChange()"-->
        <li ng-repeat="light in fixtures" (click)="onSelect(light)">
            <span>Channel: {{light.channel}}</span>
            <li *ngFor="id of light.identities">
                <span>{{id.key}}</span>
            </li>

        </li>
        <br/>
        <md-button class="md-raised" ng-click="todoList.colour('blue')">Blue</md-button>
        <md-button class="md-raised" ng-click="todoList.colour('red')">Rred</md-button>
        <md-button class="md-raised" ng-click="todoList.colour('yellow')">Yellow</md-button>

        <br/>

        <a href="" ng-click="todoList.colour('blue')">blue</a>
        <a href="" ng-click="todoList.colour('red')">red</a>
        <a href="" ng-click="todoList.colour('yellow')">yellow</a>

        <br/>

        <h1><a href="" ng-click="todoList.getpatch()">Patch</a></h1>
        <li ng-repeat="cell in todoList.patch">
            <span>{{cell.value}}</span>
        </li>

    </div>
</body>
</html>